@tailwind base;
@tailwind components;
@tailwind utilities;

#app,
body,
html {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  font-size: 14px;
}

.dark .dark\:bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(64, 65, 79, var(--tw-bg-opacity));
}

.dark .dark\:bg-\[\#444654\] {
  --tw-bg-opacity: 1;
  background-color: rgba(68, 70, 84, var(--tw-bg-opacity));
}

.dark .dark\:text-gray-100 {
  --tw-text-opacity: 1;
  color: rgba(236, 236, 241, var(--tw-text-opacity));
}

.dark .dark\:bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(52, 53, 65, var(--tw-bg-opacity)) !important;
}

.bg-vert-light-gradient {
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 13.94%, #fff 54.73%);
}

.dark .dark\:bg-vert-dark-gradient {
  background-image: linear-gradient(180deg, rgba(53, 55, 64, 0), #333 58.85%);
}

.btn-neutral {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-color: rgba(0, 0, 0, .1);
  border-width: 1px;
  color: rgba(64, 65, 79, var(--tw-text-opacity));
  font-size: .875rem;
  line-height: 1.25rem;
}

.dark .btn-neutral {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(52, 53, 65, var(--tw-bg-opacity));
  border-color: rgba(86, 88, 105, var(--tw-border-opacity));
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.semi-button-primary {
  background-color: var(--semi-color-primary)
}

.layout-root .semi-portal {
  width: 0;
}